        html,body{
            height: 100%;
            width: 100%;
        } 

        header{
            width: 100%;
            font: 200% serif;
            text-align: center;
        }           
         
        .maincontent{
            height: 100%;
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            align-content: center;
            align-items: center;
            background: linear-gradient(#2b8b5a, white);
            justify-content: flex-start;
        }

        .maincontent__item{
            background: #fffbb1e6;
            border-style: solid; 
            border-width: 1px 1px 1px 1px;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            margin: 2% 0% 2% 0%;
            border-radius: 10px;
        }

        .input_div{
            display: flex;
            flex-flow: row nowrap;   

        }

        .invalide_input{
            background: #ffb5b5;
        }

        .valide_input{
            background: black;
            color: white;
        }
        
        .output_div{

        }

        
        .maincontent_item_input_form{
            height: 100%;
        }

        .maincontent_item_input_form_buttons{
            display: flex;
            flex-flow: column wrap;
            justify-content: space-evenly;
            width: 30%;
        }

        .maincontent_item_input_form_table{
            width: max-content;
            height: 100%;
            background: #79ff4e4d;
            border-radius: 10px;
        }

        .maincontent_item_input_form_table td{
            text-align: center;
        }

        #but1{
            height: 27%;
            background:  linear-gradient(#acea45, white);
        }

        #button_clear-fields{
            height: 27%;
            background:  linear-gradient(#d67affb3, white);
        }

        #but3{
            height: 27%;
            background: linear-gradient(#148c6ae6, #0c0c0c);
            color: #ffb63d;
        }

        .maincontent_item_input_form_table td input{
            min-width: 90%;
            border-style: solid; 
            border-width: 1px 1px 1px 1px;
            border-color: white;
        }